.gdbar img {
  width: 150px !important;
  height: 150px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 250 !important;
  height: 170px !important;
}

slides > slide:not(.nobackground):before {
  width: 90px;
  height: 90px;
  background-size: 90px 90px;
}

.note > section {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #797979;
  -moz-box-shadow: 0 0 10px #797979;
  box-shadow: 0 0 10px #797979;
  width: 90%;
  padding: 2em;
}

/* Thanks Kevin Ushey -- https://github.com/rstudio/webinars/blob/master/2014-04/styles.css */
pre.prettyprint {
  width: inherit;
  left: 0px !important;
  padding: 10px !important;
  box-shadow: 1px 1px 5px #9c9c9c !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ADADAD;
}
pre.prettyprint + pre {
  width: inherit;
  left: 0px !important;
  padding: 10px !important;
  box-shadow: 1px 1px 5px #9c9c9c !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #ADADAD;
  background-color: #F3F3F3;
}

h1, h2, h3, h4, h5, h6 {
  color: #b55 !important;
  line-height: 95%;
}

slides > slide.dark {
  background: #f2f2f2 !important;
}

slides > slide {
    color: #333333;
}

/* adding "hands on" bubbles */
div#handson {
    background-color: #d1eeee;
    border: 1px solid #333333;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 1px 5px 3px #ccc;
}

div#handson h2 {
  font-size: 1.25em;
  background-color: #d1eeee;
  border-bottom: 2px solid #333333;
  margin-top: 0;
  margin-bottom: 1em;
}

.caption {
  text-align: middle;
  vertical-align: middle;
  font-size: 0.5em;
}

code {
    background-color: #F5F5F5;
}